# Traefik Basic Auth (usuario:contraseña codificado en htpasswd)
# Generar con: echo $(htpasswd -nb usuario contraseña) | sed -e s/\\$/\\$\\$/g
TRAEFIK_BASIC_AUTH=admin:$apr1$random$hash

# Email para certificados SSL Let's Encrypt
LETSENCRYPT_EMAIL=admin@cohortevidaypaz.com.co
